/*Nollaa selaimen marginaalit ja paddingit ym..*/
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
	list-style: none;
}
/*Tämän sisään tulee kaikki elementit*/
#Container{
  position: absolute;
  height: 85%;
  width: 85%;
	max-width: 900px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 3px solid #ff0000;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
  background-color: #ffffff; /* tausta testin vuoksi */
	opacity: 100%; /*Testausta varten*/
/*	background-image: url(???); */
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 135%, 135%;
	overflow: auto;
	z-index: 9999; /*iso numero = alla*/
}
#Top {
  position: relative;
  margin: 0px;
	overflow: auto;
	padding: 0px;
	width: auto;
	clear: both;
  padding-bottom: 10px;
	background-color: #000000; /*000000 = musta*/
	border: 1px solid #ffcc00; /*ffvv00 pitäis olla keltanen*/
	z-index: 12;
}
#Top h1{
  font-size: 42px;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin: 0px;
  text-align: left;
}
#Top h1 sup{
	font-size: 18px;
	font-weight: bold;
	color: #595959;
	pointer-events: none;
}
#Top h2{
	color: #595959;
	font-size: 24px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	pointer-events: none;
}
#Top p{
	font-size: 12px;
	color: #757575;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	pointer-events: none;
}

.MenuSlider{
	position: absolute;
	height: inherit;
	opacity: 100%; /*Työstöä varten. 50%, niin näkyy jos linkit on sliderin alla*/
	width: 180px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 8px;
	padding-bottom: 0px;
	position: absolute;
  background-color: #000;
	transition: 0.5s ease;
	z-index: 10;
}

h1{
	position: relative;
	color: #8000ff;
	font-weight: 800;
	text-align: right;
	padding-left: 58px;
	padding-right: 30px;
	padding-bottom: 8px;
	pointer-events: none;
	z-index: 9;
}
ul li a{
	position: relative;
	display: block;
	text-transform: capitalize;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	z-index: 0; /* Päälimmäisin = 0 */
	text-align: right;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: -10px;
	border: 2px solid #ee9700;
	transition: 0.2s ease-out;
}

ul li a:hover{
	color: #33cc00;
	background-color: #111111;
	width: 180px;
	display: block;
	text-decoration: none;
	font-size: 24px;
	text-align: right;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: -10px;
	border: 2px solid #ee9700;

}

/* Tämän alla on menun linkkien indikaattori ( muuttuu sen perusteella missä sivuston osiossa olet) */
#index #link1 a, #palvelut #link2 a, #portfolio #link3 a, #tietoa_minusta #link4 a, #yhteystiedot #link5 a{
	background-color: #33cc00;
	color: #000000;
	text-decoration: none;
	font-size: 24px;
	text-align: right;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: -10px;
	border: 2px solid #000000;
}
